body {
  margin:0;
  background-color: lightblue;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: hsla(0, 15%, 50%, 0.3);
  position: fixed;
  top: 225;
  width: 100%;
}
li {
  float: left;
}

li a {
  display: flex;
  color: white;
  Justify-content: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #fff;
}

.active {
  background-color: #1111;
}
